@import url('tailwind.css');


body {
    font-family: 'Nunito Sans', sans-serif;
    color: #797979;
}
h1,h2,h3,h4,h5,h6 {
    color: #1F1F1F; 
}

#map {
    height: 280px;
}

.chart-container {
    position: relative;
  }
  
  .chart-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .chart-text span {
    font-weight: bold;
    font-size: 16px;
  }
  .leaflet-popup-content {
    margin: 5px 10px;
  }
  .leaflet-popup-content p {
    margin: 0 !important; 
  }